<footer class="footer py-12 bg-global-secondary">
  <div class="container d-flex align-items-center justify-content-between">
    <ul class="d-flex">
      <li><a href="#" class="py-2 px-6">服務方案</a></li>
      <li><a href="#" class="py-2 px-6">關於職旅</a></li>
      <li><a href="#" class="py-2 px-6">聯絡我們</a></li>
      <li><a href="#" class="py-2 px-6">隱私權政策</a></li>
      <li><a href="#" class="py-2 px-6">用戶條款</a></li>
    </ul>
    <p class="body-sm">Copyright © 2025 職旅 workway. All rights reserved.</p>
  </div>
</footer>
